.navbar-brand img{
    max-width: 130px;
}
img{
    max-width: 100%;
    max-height: 100%;
}
body, html{
    min-height: 100%;
}
.navbar{
    border-bottom: 2px solid lightgray;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.page-content{
    margin-top: 25px;
}
.container section{
    padding: 15px;
    background-color: rgba(255,255,255,0.7);
    border-radius: 3px;
    margin-bottom: 15px;
}
.container:last-child{
    margin-bottom: 100px;
 }
body{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/assets/images/header.png");
}